<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input,textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>

<body>

  <div id="app">
    <form @submit.prevent="submitForm()">
      <p v-if="errors.length">
        <b>please correct the following errors :</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      <label>Nama : </label>
      <input type="text" :disable="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
      <label>Alamat : </label>
      <textarea name="address" :disable="buttonStatus == 'upload'" ref="address" v-model="address" ></textarea>
      <label>No Telepon : </label>
      <input type="text" :disable="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
      <br><br>
      <div v-if="buttonStatus == 'submit'">
        <input type="submit" value="SUBMIT">
      </div>
      <div v-if="buttonStatus == 'update'">
        <input type="button" @click="updateMember(idEditMember)" value="UPDATE" >
        <input type="button" value="CANCEL" @click="clearForm" style="margin: top 5px;">
      </div>
      <div v-if="buttonStatus == 'upload'">
        <input type="file" name="photo" ref="photo" >
        <input type="button" value="UPLOAD" @click="submitPhoto(iduploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
        <input type="button" value="CANCEL" @click="clearForm" style="margin: top 5px;">
      </div>
    </form>
    <br><br>
    <table border="1">
      <tr v-for="member in members">
        <td>
          <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://picsum.photos/200/300'" alt="">
        </td>
        <td>
          <b>Nama : </b> {{ member.name }} <br>
          <b>Alamat : </b> {{ member.address }}<br>
          <b>No Telepon : </b>{{ member.no_hp }}
        </td>
        <td>
          <button @click="editMember(member)">Edit</button>
          <button @click="removeMember(member.id)">Hapus</button>
          <button @click="uploadPhoto(member)">Upload Foto</button>
        </td>
      </tr>

    </table>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        name : '',
        address : '',
        no_hp : '',
        errors : [],
        members: [],
        photoDomain: "http://demo-api-vue.sanbercloud.com/api/member",
        buttonStatus : 'submit',
        idEditMember : null,
        iduploadMember : null
      },
      methods: {
        validationForm : function(){
           this.errors = []

           if(this.name.length < 3){
            this.errors.push('Nama minimal 3 karakter')
            this.$refs.name.focus()
           }
           
           if(this.address.length > 20){
            this.errors.push('Alamat tidak boleh lebih dari 20 karakter')
            this.$refs.address.focus()
           }
        },
        clearForm : function(){
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonStatus = 'submit'
          this.idEditMember = null
          this.iduploadMember = null
        },
        submitForm : function(){
          this.validationForm()
          if(this.errors.length === 0){
            let formData = new FormData()
          formData.append('name',this.name)
          formData.append('address',this.address)
          formData.append('no_hp',this.no_hp)
          const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData
            }
            axios(config)
                .then((response)=>{
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch((error)=>{
                    console.log(error)
                })
             this.errors.push('terima kasih anda telah mengisi data dengan benar')
          }  
        },
        getMembers(){
            const config = {
              method : "get",
              url : "http://demo-api-vue.sanbercloud.com/api/member"
            }
            axios(config)
            .then((response)=>{
              this.members = response.data.members
              
              
            })
            .catch((error)=>{
              console.log(error)
            })
        },
        removeMember: function(id){
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method : "DELETE"}
            }
            axios(config)
              .then((response)=>{
                this.getMembers()
                alert(response.data.message)
              })
              .catch((error)=>{
                response(error)
              })
        },
        editMember(member){
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'update'
          this.idEditMember = member.id
        },
        updateMember: function(id){
          this.validationForm()
          if(this.errors.length === 0){
              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)
              let config = {
                method: "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params : { _method : "PUT"},
                data : formData
              }
              axios(config)
              .then((response)=>{
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch((error)=>{
                console.log(error)
              })
          }
        },
        uploadPhoto: function(member){
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'upload'
          this.iduploadMember = member.id
        },
        submitPhoto: function(id){
          let file = this.$refs.photo.files[0]
          let formData = new FormData
          formData.append('photo-profile', file)

          let config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : formData
          }
          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error)=>{
              console.log(error)
            })
        }
      },
      created(){
        this.getMembers()
      }
    })
  </script>
</body>

</html>