<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
</head>

<body>

  
  <div id="app">
    <input type="text"  v-model="user"  />
    <button @click="addUser()" v-if="add">Add</button>
    <button @click="updateUser()" v-if="!add">Update</button>
    <ul v-for="(item,index) in users">
        <li :key="index">
            {{ item.name }}
        <button @click="editUser(index)" >Edit</button> ||
        <button @click="deleteUser(index)" >Delete</button>
        </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        add:true,
        user: "",
        index: null,
        users : [
            {'name': 'Muhamad Iqbal Mubarok'},
            {'name':'Ruby Purwanti'},
            {'name':'Faqih Muhamad'}
        ]
      },
      methods: {
        addUser(){
            this.users.push({'name':this.user})
            this.user = ''
        },
        editUser(index){
            this.user = this.users[index].name
            this.add = false   
            this.index = index
        },
        updateUser(index){
            this.users[this.index].name = this.user
            this.add = true
            this.user = ''
        },
        deleteUser(index){
            
            if(confirm('apakah anda yakin ingin menghapus?')){
                this.users.splice(index,1)
            }
        }
      },
    })
  </script>
</body>

</html>