<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <input type="text" placeholder="Ketikan kata kunci" v-model="newBooks"  />
    <ul>
        <li v-for="(item,index) of filterBooks"
        v-bind:key="index">
            {{ item }}
        </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newBooks: "",
        books : [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ]
      },
      methods: {
          
      },
      computed: {
        filterBooks(){
              return this.books.filter((book)=>{
                  return book.toLowerCase().includes(this.newBooks.toLowerCase())
              })
          }
      }
    })
  </script>
</body>

</html>